html,
body {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* CSS Variables */
:root {
    --Primary-Color: #4458dc;
    --Primary-Color2: #854fee;
    --Title-Color: #141313;
    /* Ensure this is used correctly */
    --Text-Color: #777777;
    --Border-Color: #201f1f17;
    --Gradient-Color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --gradient: linear-gradient(90deg, #3f52ce 0%, #854fee 100%);
    --Shadow-Color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --Box-Shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

    /* Font family variables */
    --roboto: 'Roboto', cursive;
    /* Ensure this is used correctly */
}